<h1>Let's create a Stock</h1>
<form method="post">
    <label>ID</label>
    <input type="text" name="id" required />
    <label>PRODUCTO</label>
    <input type="text" name="producto" required />
    <label>TIPO</label>
    <input type="text" name="tipo" required />
    <label>MARCA</label>
    <input type="text" name="marca" required />
    <label>UNIDADES</label>
    <input type="text" name="unidades" required />
    <label>PRECIO COMPRA</label>
    <input type="text" name="precioCompra" required />
    <label>PRECIO VENTA</label>
    <input type="text" name="precioVenta" required />
    <button class="btn btn-success">
        Ceate
    </button>
</form>
