<h1>Lets Delete a Stock</h1>
<form method="post">
    <label>ID del producto a eliminar</label>
    <input type="text" name="id" required />
    <button class="btn btn-danger">
        Delete
    </button>
</form>
