<h1>STOCK</h1>
<div class="col-12">
    <a asp-controller="Stock" asp-action="CreateStock" class="btn btn-success">
        Insertar Stock
    </a>
</div>

<div class="col-12">
    <a asp-controller="Stock" asp-action="UpdateStockUnidades" class="btn btn-info col-12">
        Update Unidades
    </a>
</div>
<div class="col-12">
    <a asp-controler="Stock" asp-action="DeleteStock" class="btn btn-danger col-12">
        Delete Stock
    </a>
</div>