<h1>Let's update unidades de stock</h1>
<form method="post">
    <label>ID del producto a cambiar</label>
    <input type="text" name="id" required />
    <label>UNIDADES updated</label>
    <input type="text" name="unidades" />
    <button class="btn btn-info">
        Update
    </button>
</form>